##<center>__Самостійні завдання__</center>

> Скопіювати блок самостійних завдань в окремий файл ***LastName_CP10.ipynb***

> Інсталюйте необхідні пакети бібліотек Python

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
FOLDER_PATH = "./drive/MyDrive/ColabData/Pract10_RecomedSystems/"

### Завдання №1

* Завантажте архів `BX-CSV-Dump.zip` та розпакуйте дані з лінку

`url = "http://www2.informatik.uni-freiburg.de/~cziegler/BX/BX-CSV-Dump.zip"`

* Завантажте датасети `BX-Books.csv` як `df.books` та `BX-Book-Ratings.csv` як `df.ratings`, виведіть частину датасетів на екран

Використайте ці дані, щоб побудувати систему рекомендацій, яка підкаже, що користувачеві варто прочитати наступним, виходячи з його поточних книжкових уподобань.

In [4]:
books_df = pd.read_csv(FOLDER_PATH + 'BX-Books.csv', encoding='WINDOWS-1252', delimiter=";", on_bad_lines='skip')
ratings_df = pd.read_csv(FOLDER_PATH + 'BX-Book-Ratings.csv', encoding='WINDOWS-1252', delimiter=";", on_bad_lines='skip')

<ipython-input-4-8b6af7c8d263>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv(FOLDER_PATH + 'BX-Books.csv', encoding='WINDOWS-1252', delimiter=";", on_bad_lines='skip')

In [5]:
books_df = books_df.head(10000).copy()
ratings_df = ratings_df.head(10000).copy()

In [6]:
books_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [7]:
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

### Завдання №2

* Виведіть інформацію про датасет
* Залиште в датасеті лише колонки `ISBN`, `Book Title`,`Book Author` and `Publisher`.
* Перевірте, чи немає дублікатів назв книг, видаліть, якщо такі є. Для цього скористайтесь функціями `duplicated(subset='Book-Title')`  та `drop_duplicates(subset='Book-Title')`
* Об'єднайте імена та прізвища авторів, видаляючи пробіли, щоб система розрізняла авторів з однаковими іменами
* Виведіть шапку таблиці, щоб переконатись у об'єднанні

In [8]:
books_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISBN                 10000 non-null  object
 1   Book-Title           10000 non-null  object
 2   Book-Author          10000 non-null  object
 3   Year-Of-Publication  10000 non-null  object
 4   Publisher            10000 non-null  object
 5   Image-URL-S          10000 non-null  object
 6   Image-URL-M          10000 non-null  object
 7   Image-URL-L          10000 non-null  object
dtypes: object(8)
memory usage: 625.1+ KB

In [9]:
books_df = books_df[["ISBN", "Book-Title", "Book-Author", "Publisher"]].copy()

In [10]:
books_df.duplicated(subset="Book-Title")

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [11]:
books_df.drop_duplicates(subset="Book-Title", inplace=True)

In [12]:
books_df["Book-Author"] = books_df["Book-Author"].str.lower()

In [13]:
books_df["Book-Author"] = books_df["Book-Author"].str.replace(" ", "")

In [14]:
books_df.head()

,ISBN,Book-Title,Book-Author,Publisher
0,0195153448,Classical Mythology,markp.o.morford,Oxford University Press
1,0002005018,Clara Callan,richardbrucewright,HarperFlamingo Canada
2,0060973129,Decision in Normandy,carlod'este,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,ginabarikolata,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,e.j.w.barber,W. W. Norton &amp; Company

In [15]:
encoded_books_df = pd.get_dummies(books_df, columns=["Book-Author", "Publisher"])

In [16]:
encoded_books_df.head()

,ISBN,Book-Title,Book-Author_a'leliabundles,Book-Author_a.a.attanasio,Book-Author_a.a.milne,Book-Author_a.c.bhaktivedantaswamiprabhupada,Book-Author_a.c.crispin,Book-Author_a.c.doyle,Book-Author_a.c.gordon,Book-Author_a.e.vanvogt,...,Publisher_Zondervan Publishing Company,Publisher_Zondervan Publishing House,"Publisher_\Otokar Kersovani\""""",Publisher_btb,Publisher_distributed by Harper &amp; Row,Publisher_distributed by Hawthorn Books,Publisher_distributed by Houghton Mifflin,"Publisher_iUniverse, Inc.",Publisher_iUniverse.com,Publisher_scholastic
0,0195153448,Classical Mythology,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0002005018,Clara Callan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0060973129,Decision in Normandy,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0393045218,The Mummies of Urumchi,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Завдання №3

* Створіть користувача, якому поставте у відповідність 5 довільних кних з переліку та рейтингом (0-10)
* Створіть рекомендований список з 10 книг для користувача, спираючись на автора та видавництво.

In [17]:
userInput = [
            {'Book-Title': 'The Firm', 'Book-Rating': 10},
            {'Book-Title': 'Mientras Escribo', 'Book-Rating': 6},
            {'Book-Title': 'A Man in Full', 'Book-Rating': 9},
            {'Book-Title': 'Hannibal', 'Book-Rating': 1},
            {'Book-Title': 'The Lovely Bones: A Novel', 'Book-Rating': 3.5}
         ] 
inputBooks = pd.DataFrame(userInput)
inputBooks

                  Book-Title  Book-Rating
0                   The Firm         10.0
1           Mientras Escribo          6.0
2              A Man in Full          9.0
3                   Hannibal          1.0
4  The Lovely Bones: A Novel          3.5

In [18]:
inputId = books_df[books_df['Book-Title'].isin(inputBooks['Book-Title'].tolist())]
inputBooks = pd.merge(inputId, inputBooks)
inputBooks

,ISBN,Book-Title,Book-Author,Publisher,Book-Rating
0,0374270325,A Man in Full,tomwolfe,Farrar Straus &amp; Giroux,9.0
1,8484509141,Mientras Escribo,stephenking,Distribooks,6.0
2,0385416342,The Firm,johngrisham,Doubleday Books,10.0
3,0316666343,The Lovely Bones: A Novel,alicesebold,"Little, Brown",3.5
4,0440224675,Hannibal,thomasharris,Dell Publishing Company,1.0

In [19]:
userBooks = encoded_books_df[encoded_books_df['ISBN'].isin(inputBooks['ISBN'].tolist())]
userBooks

,ISBN,Book-Title,Book-Author_a'leliabundles,Book-Author_a.a.attanasio,Book-Author_a.a.milne,Book-Author_a.c.bhaktivedantaswamiprabhupada,Book-Author_a.c.crispin,Book-Author_a.c.doyle,Book-Author_a.c.gordon,Book-Author_a.e.vanvogt,...,Publisher_Zondervan Publishing Company,Publisher_Zondervan Publishing House,"Publisher_\Otokar Kersovani\""""",Publisher_btb,Publisher_distributed by Harper &amp; Row,Publisher_distributed by Hawthorn Books,Publisher_distributed by Houghton Mifflin,"Publisher_iUniverse, Inc.",Publisher_iUniverse.com,Publisher_scholastic
302,0374270325,A Man in Full,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
346,8484509141,Mientras Escribo,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
361,0385416342,The Firm,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
408,0316666343,The Lovely Bones: A Novel,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
410,0440224675,Hannibal,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
userBooks = userBooks.reset_index(drop=True)
userAuthorPublisherTable = userBooks.drop('ISBN', 1).drop('Book-Title', 1)
userAuthorPublisherTable

<ipython-input-20-b25655787cb3>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userAuthorPublisherTable = userBooks.drop('ISBN', 1).drop('Book-Title', 1)
<ipython-input-20-b25655787cb3>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userAuthorPublisherTable = userBooks.drop('ISBN', 1).drop('Book-Title', 1)

,Book-Author_a'leliabundles,Book-Author_a.a.attanasio,Book-Author_a.a.milne,Book-Author_a.c.bhaktivedantaswamiprabhupada,Book-Author_a.c.crispin,Book-Author_a.c.doyle,Book-Author_a.c.gordon,Book-Author_a.e.vanvogt,Book-Author_a.j.hill,Book-Author_a.j.jacobs,...,Publisher_Zondervan Publishing Company,Publisher_Zondervan Publishing House,"Publisher_\Otokar Kersovani\""""",Publisher_btb,Publisher_distributed by Harper &amp; Row,Publisher_distributed by Hawthorn Books,Publisher_distributed by Houghton Mifflin,"Publisher_iUniverse, Inc.",Publisher_iUniverse.com,Publisher_scholastic
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
#Скалярний добуток для отримання вагів вподобань у профайлі користувача
userProfile = userAuthorPublisherTable.transpose().dot(inputBooks['Book-Rating'])
userProfile

Book-Author_a'leliabundles                      0.0
Book-Author_a.a.attanasio                       0.0
Book-Author_a.a.milne                           0.0
Book-Author_a.c.bhaktivedantaswamiprabhupada    0.0
Book-Author_a.c.crispin                         0.0
                                               ...
Publisher_distributed by Hawthorn Books         0.0
Publisher_distributed by Houghton Mifflin       0.0
Publisher_iUniverse, Inc.                       0.0
Publisher_iUniverse.com                         0.0
Publisher_scholastic                            0.0
Length: 7162, dtype: float64

In [22]:
#Отримаємо жанри кожного фільму у нашому вихідному фреймі даних
authorPublisherTable = encoded_books_df.set_index(encoded_books_df['ISBN'])
#Видаляємо зайву інформацію
authorPublisherTable = authorPublisherTable.drop('ISBN', 1).drop('Book-Title', 1)
authorPublisherTable

<ipython-input-22-7010d9b202cd>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  authorPublisherTable = authorPublisherTable.drop('ISBN', 1).drop('Book-Title', 1)
<ipython-input-22-7010d9b202cd>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  authorPublisherTable = authorPublisherTable.drop('ISBN', 1).drop('Book-Title', 1)

,Book-Author_a'leliabundles,Book-Author_a.a.attanasio,Book-Author_a.a.milne,Book-Author_a.c.bhaktivedantaswamiprabhupada,Book-Author_a.c.crispin,Book-Author_a.c.doyle,Book-Author_a.c.gordon,Book-Author_a.e.vanvogt,Book-Author_a.j.hill,Book-Author_a.j.jacobs,...,Publisher_Zondervan Publishing Company,Publisher_Zondervan Publishing House,"Publisher_\Otokar Kersovani\""""",Publisher_btb,Publisher_distributed by Harper &amp; Row,Publisher_distributed by Hawthorn Books,Publisher_distributed by Houghton Mifflin,"Publisher_iUniverse, Inc.",Publisher_iUniverse.com,Publisher_scholastic
ISBN,,,,,,,,,,,,,,,,,,,,,
0195153448,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0002005018,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0060973129,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0374157065,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0393045218,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0380730774,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0862418879,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
340414645X,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3442730988,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3404144783,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
authorPublisherTable.shape

(9553, 7162)

In [24]:
recommendationTable_df = ((authorPublisherTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df

ISBN
0195153448    0.0
0002005018    0.0
0060973129    0.0
0374157065    0.0
0393045218    0.0
             ...
0380730774    0.0
0862418879    0.0
340414645X    0.0
3442730988    0.0
3404144783    0.0
Length: 9553, dtype: float64

In [27]:
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

ISBN
038542471X    0.338983
0385424728    0.338983
0385416342    0.338983
0385508042    0.338983
0385472951    0.338983
dtype: float64

In [28]:
books_df.loc[books_df['ISBN'].isin(recommendationTable_df.head(10).keys())]

,ISBN,Book-Title,Book-Author,Publisher
219,0385508042,The King of Torts,johngrisham,Doubleday Books
302,0374270325,A Man in Full,tomwolfe,Farrar Straus &amp; Giroux
305,044023722X,A Painted House,johngrisham,Dell Publishing Company
346,8484509141,Mientras Escribo,stephenking,Distribooks
361,0385416342,The Firm,johngrisham,Doubleday Books
363,038542471X,The Client,johngrisham,Doubleday Books
589,0385424728,The Chamber,johngrisham,Doubleday Books
592,0385472951,The Partner,johngrisham,Doubleday Books
3357,0385199570,The Stand (The Complete and Uncut Edition),stephenking,Doubleday Books
5662,0440241073,The Summons,johngrisham,Dell Publishing Company