##<center>__Самостійні завдання__</center>

> Скопіювати блок самостійних завдань в окремий файл ***LastName_CP1.ipynb***

### Завдання №1

1. Створити цілочисельну змінну `x`. 
2. Змінити тип даних змінної `x` на дійсний.
3. Створити нову числову змінну `y`. 
4. Піднести змінну `x` до степеня `y` і зберегти результат як змінну `z`. (двома способами)
5. Вивести значення змінної `z` та її тип.

In [1]:
x, y = 5, 2
x = float(x)
z_operator, z_function = x ** y, pow(x, y)
print(f"Z value with ** operator {z_operator} type {type(z_operator)}\nZ value with pow() function {z_function} type {type(z_function)}")

Z value with ** operator 25.0 type <class 'float'>
Z value with pow() function 25.0 type <class 'float'>

### Завдання №2

1. Вивести запис: **"{X} в степені {Y} дорівнює {Z}."**, використовуючи рядковий запис де X, Y та Z значення змінних.
2. Перетворіть рядок так, щоб можна було прочитати лише **"X в степені"**, с заду наперед.

> Очікуваний результат:
```python
x = 2
y = 3
"2 в степені 3 дорівнює 8."
"інепетс в 2"
```

In [2]:
x, y = 10, 12
output = f"{x} в степені {y} дорівнює {x ** y}."
print(output)
print(output[len(str(x)) + 9::-1])

10 в степені 12 дорівнює 1000000000000.
інепетс в 01

### Завдання №3

1. Створіть новий список `my_list`, який містить 5 кольорів.
2. Перевірте чи є в вашому списку колір `"бузковий"`. Якщо немає, то додайте його використовуючи команду `append`.
3. Змініть перший елемент списку на `"рожевий"`.
4. Видаліть другий елемент списку та виведіть результат на екран.

In [3]:
my_list = ["червоний", "чорний", "синій", "жовтий", "малиновий"]
if not "бузковий" in my_list:
    my_list.append("бузковий")
my_list[0] = "рожевий"
del(my_list[1])
my_list

['рожевий', 'синій', 'жовтий', 'малиновий', 'бузковий']

### Завдання №4

1. Створіть словник з країнами та їх столицями (країна - ключ, столиця - значення): Німеччина, Франція, Україна, США, Румунія, Італія. Виведіть результа.
2. Додайте столицю Бельгії.
3. Виведіть лише столиці.

In [4]:
my_dict = {"Німеччина": "Берлін", "Франція": "Париж", "Україна": "Київ", "США": "Вашингтон", "Румунія": "Бухарест", "Італія": "Рим" }
print(my_dict)
my_dict["Бельгія"] = "Брюссель"
print(my_dict.values())

{'Німеччина': 'Берлін', 'Франція': 'Париж', 'Україна': 'Київ', 'США': 'Вашингтон', 'Румунія': 'Бухарест', 'Італія': 'Рим'}
dict_values(['Берлін', 'Париж', 'Київ', 'Вашингтон', 'Бухарест', 'Рим', 'Брюссель'])

### Завдання №5

Виведіть значення списку_1, що не містяться в списку_2.

> Очікуваний результат:
```python
[1,4,6,7]
```

In [5]:
list_1 = [1,2,3,4,5,6,7]
list_2 = [2,5,3]

output = [res for res in list_1 if not res in list_2]
print(output)

[1, 4, 6, 7]

### Завдання №6

порахуйте всі входження слова "Наука" в рядок, без урахування регістру

> Очікуваний результат:
```python
3
```

In [6]:
import re

In [7]:
string = "Наука про дані – це наука про методи аналізу даних і вилучення\
 з них цінної інформації та знань. Вона тісно пов’язана з такими галузями, \
 як машинне навчання, наука про мислення, а також з технологіями для роботи \
 з великими даними."

# МІСЦЕ ДЛЯ КОДУ
string.lower().count("наука")

3

### Завдання №7

Видаліть повтори зі списку та створіть кортеж. Знайдіть мінімальне та максимальне значення.

In [8]:
my_list = [1, 4, 5, 10, 1, 3, 30, 100, 5]

# МІСЦЕ ДЛЯ КОДУ
my_tuple = tuple(set(my_list))
print(f"{my_tuple} - resulting tuple\nMin value {min(my_tuple)}\nMax value {max(my_tuple)}")

(1, 3, 4, 5, 100, 10, 30) - resulting tuple
Min value 1
Max value 100

### Завдання №8

Дано дві множини  
1. перевірити чи є перша множина підмножиною другої
2. знайти об'єднання, перетин, різницю та симетричну різницю цих множин

In [9]:
set_1 = {57, 83, 29}
set_2 = {67, 73, 43, 48, 83, 57, 29}

# МІСЦЕ ДЛЯ КОДУ
print(f"Is set_1 subset of set_2 {set_1.issubset(set_2)}\nUnion is {set_1.union(set_2)}\nIntersection is {set_1.intersection(set_2)}\nSymmentric difference is {set_1.symmetric_difference(set_2)}")

Is set_1 subset of set_2 True
Union is {67, 73, 43, 48, 83, 57, 29}
Intersection is {57, 83, 29}
Symmentric difference is {48, 67, 73, 43}

### Завдання №9

Дано рядок `string`, порахувати кількість входжень літер "а", "д" та "н" та створити словник з цих літер та кількістю їх входжень. Вивести пари ключ-значення на екран

> Очікуваний результат:
```python
dict_items([('а', 24), ('д', 5), ('н', 25)])
```

In [10]:
string = "Наука про дані – це наука про методи аналізу даних і вилучення\
 з них цінної інформації та знань. Вона тісно пов’язана з такими галузями, \
 як машинне навчання, наука про мислення, а також з технологіями для роботи \
 з великими даними."

# МІСЦЕ ДЛЯ КОДУ
# Результат отриманий лише для маленьких літер
res_dict = {'а': string.count('а'), 'д': string.count('д'), 'н': string.count('н')}
res_dict

{'а': 24, 'д': 5, 'н': 25}

### Завдання №10

Знайти суму всих елеменів словника

> використайте функцію `map()`, яка використовується для застосування функції до кожного елементу итеруючого об'єкту (наприклад, списку чи словника) та повернення нового ітератора для отримання результів.

> Функция `map()` имеет следующий синтаксис:
```
map(function, iterable, [iterable 2, iterable 3, ...])

> Очікуваний результат
```python
390
```

In [11]:
my_dict = {'a': [10, 20, 30, 40],
           'b': [22, 11, 33, 44],
           'c': [12, 34, 56, 78]}

# МІСЦЕ ДЛЯ КОДУ
print(sum(list(map(lambda input: sum(input), my_dict.values()))))

390

### Завдання №11

Знайдіть друге найменше та друге найбільше значення в списку та виведіть на екран такий запис:

```python
"Друге найменше значення - 1 та друге найбільше значення - 398."
```

In [12]:
my_list = [1,200, 34, 65, 499, 11, -4, 42, 398, 12, 3, 100]

# МІСЦЕ ДЛЯ КОДУ
new_list = list(set(my_list))
new_list.sort()
print(f"Друге найменше значення - {new_list[1]} та друге найбільше значення - {new_list[-2]}.")

Друге найменше значення - 1 та друге найбільше значення - 398.

### Завдання №12

Об'єднайте наступні словники в один.

> Очікуваний результат:
```python
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [13]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}

# МІСЦЕ ДЛЯ КОДУ
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### Завдання №13
Створіть словник з наступних списків. Використайте функцію`zip()`

>Функція `zip(a, b)` створює об'єкт-ітератор, з якого при кожному обороті циклу створюється кортеж - впорядкована пара $(a_i, b_i)$ 

>Очікуваний результат:
```python
{'червоний': '#FF0000', 'зелений': '#008000', 'синій': '#0000FF'} 
```

In [14]:
keys = ['червоний', 'зелений', 'синій']
values = ['#FF0000','#008000', '#0000FF']

# МІСЦЕ ДЛЯ КОДУ
dict(zip(keys, values))

{'червоний': '#FF0000', 'зелений': '#008000', 'синій': '#0000FF'}