
<center><font size="6"><b>Комп'ютерний практикум 1.

 Основи Python</b></font></center>


***

> Для запуску коду в Python обираємо комбінацію <kbd>Ctrl</kbd> + <kbd>Enter</kbd> або натискаємо стрілку, що з'являється на квадратних дужках [ ]  

> Для виводу результату використовується функція <code>print()</code>, аргумент якої записується в дужках. Якщо аргументів декілька, вони вказуються через кому.

Базові *типи даних* в Python є:


| Тип | Приклад | функція в Python |
|:-:|:-:|:-:|
| Цілі числа (integers) | 1, 10, 42 | `int()`
| Дійсні числа (floating-point numbers) | 1.0, 20.65, 12e5 | `float()`
|Комплексні числа (complex numbers) | (4+8j) | `complex(re, im)`
| Строковий (strings) | “Hello, Python!”, “Data Science” | `str()`
| Логічний (Boolean) | True, False | `bool()`

> Функція <code>type()</code> виводить тип даних

### <i> Наприклад </i>

In [62]:
x = 2
print(x, type(x))

x = 42.42
print(x, type(x))

x = complex(1,5)
print(x, type(x))

x = 'Hello, Python!'
print(x, type(x))

x = True
print(x, type(x))

2 <class 'int'>
42.42 <class 'float'>
(1+5j) <class 'complex'>
Hello, Python! <class 'str'>
True <class 'bool'>

> <code>sys</code> це модуль, який містить низку системних параметрів та функцій, включаючи поточну версію Python. Для використання цього модуля, його необхідно імпортувати, що забезпечує команда <code>import</code>.

In [63]:
# Перевіримо версію Python

import sys
print(sys.version)

3.8.10 (default, Nov 14 2022, 12:59:47)
[GCC 9.4.0]

### Алгебраїчні операції:

| Operation | Note |
|:-:|:-:|
| x + y | сума  x та y |
| x - y | різниця x та y |
| x * y | добуток x та y |
| x / y | частка x та y |
| x // y | ділення без остачі x та y |
| x % y | залишок від ділення x / y |
| -x | протилежне до x  |
| abs(x) | модуль x |
| pow(x, y) | x в степені y |
| x ** y | x в степені y |

### <i> Наприклад </i>

In [64]:
-5**3

-125

In [65]:
x = 7
y = 3
print('залишок від {} / {} є {}'.format(x, y, x % y))

x = 4
y = 5
print('{} в степені {} є {}'.format(x, y, pow(x, y)))

залишок від 7 / 3 є 1
4 в степені 5 є 1024

### Логічні оператори та оператори порівняння:

| Оператори | Пояснення |
|:-:|:-:|
| x or y | True, якщо хочаб одне значення True |
| x and y | False, якщо хочаб одне значення False|
| not x | True, якщо х False |
|x > y| x більше за у|
|x < y| х менше за у |
|x >= y|х більше або рівне у|
|x <= y|х менше або рівне у|
|x == y|х рівне у|
|x!= y|х не рівне у|
|||

### <i> Наприклад </i>

In [66]:
x, y = True, False
print(not y)

True

In [67]:
8 < 14

True

In [68]:
'man' is not 'woman'

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-68-b148db5af8ee>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  'man' is not 'woman'

True

In [69]:
10 == 10

True

### Рядки (Strings) 

__Рядки__ - це послідовність символів в Unicode.

In [70]:
raw_string = "Привіт!"
print(raw_string)

Привіт!

In [71]:
print("Ти " + "можеш " + "додавати " + "рядки!")
print("та множити! "*7)
print("Довжина рядка 'Рядочок' = " ,len("Рядочок"))

Ти можеш додавати рядки!
та множити! та множити! та множити! та множити! та множити! та множити! та множити!
Довжина рядка 'Рядочок' =  7

# Python дозволяє викликати частину тексту

```python
string[start:end:step]
```

* `start` - індекс, де ти хочешь почати виклик (включно)
* `end` - індекс, де ти хочеш закінчити виклик (не включно)
* `step` - крок включення (наприклад, кожне друге значення)

In [72]:
my_string = "Методи інтелектуального аналізу економічних даних"

print(my_string[0:23])
print(my_string[:6])
print(my_string[::2])
print(my_string[::-1])

Методи інтелектуального
Методи
Мтд неетаьооааіуеооінхднх
хинад хинчімоноке узілана огоньлауткелетні идотеМ

> Можна перевірити чи входять одні строкові дані в інші оператором `in`.

In [73]:
print('Методи' not in my_string)
print('дані' in my_string)

False
False

In [74]:
s = 'Великі дані'

### Базові методи роботи з рядками

* `s.lower()`  повертає рядок в нижньому регістрі 'великі дані'

* `s.upper()` повертає рядок у верхньому регістрі 'ВЕЛИКІ ДАНІ'

* `s.startswith('Великі')` повертає True, якщо рядок починається з вказаного фрагменту

* `s.endswith('дані')` повертає True, якщо рядок закінчується вказаним фрагментом

* `s.isdigit()` повертає True якщо кожна позиція в рядку цифрова (False)

* `s.find('дані')` повертає індекс першого входження (7)

* `s.find('масив')` повертає -1 якщо не знаходить

* `s.replace('Великі','Малі')` заміняє всі входження першого фрагменту на другий ('Великі' на 'малі')
* `s.count('s1')` рахує кількість входжень фрагменту `s1` в рядок `s`

In [75]:
s.replace('Великі','Малі')

'Малі дані'

#### Форматування рядків

In [76]:
# Варіант №1
my_string = "Привіт, Моє ім'я {}. Я з університету {}.".format('Маша', 'КПІ')
print(my_string)

# Варіант №2
my_string = "Привіт, Моє ім'я {name}. Я з університету {univer}.".format(univer='КНУ', name='Аня')
print(my_string)

# Варіант №3: f-strings (for python >= 3.6)
name = 'Вітя'
univer = 'НаУКМА'
my_string = f"Привіт, Моє ім'я {name}. Я з університету {univer}."
print(my_string)

Привіт, Моє ім'я Маша. Я з університету КПІ.
Привіт, Моє ім'я Аня. Я з університету КНУ.
Привіт, Моє ім'я Вітя. Я з університету НаУКМА.

### Списки (Lists)

__Список__ - це впорядкований набір, який можна змінювати, в ньому можлива наявність повторних значень

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsIndex.png" width="500" />

> Створюється список переліком елементів в квадратних дужках `[ ]` через кому.

> Список може містити елементи різних типів.

In [77]:
# lists
my_list = [1, 2, 3, 4, 5, 6, 7]
print(my_list, type(my_list))

# вивести останній елемент списку (перший з кінця)
print(my_list[-1])

# надрукувати список в зворотньому порядку
print(my_list[::-1])

# видалення другого з кінця елемента списку
del my_list[-5]
print(my_list)

# заміна першого елементу списку на 100
my_list[0] = 100

# вивід відсортованого списку
print(sorted(my_list))

[1, 2, 3, 4, 5, 6, 7] <class 'list'>
7
[7, 6, 5, 4, 3, 2, 1]
[1, 2, 4, 5, 6, 7]
[2, 4, 5, 6, 7, 100]

In [78]:
# вивести довжину списку
print(len(my_list))

# вивести мінімальний елемент списку
print(min(my_list))

# вивести максимальний елемент списку
print(max(my_list))

# вивести суму всих елементів списку
print(sum(my_list))

6
2
100
124

In [79]:
# створюємо список
universities = ['KPI', 'KNU', 'NAU']
universities

['KPI', 'KNU', 'NAU']

###Деякі команди для модифікації списку

In [80]:
#додавання елементу в список (останнім)
universities.append('KNUCA')
print(universities) 

#додавання декількох елементів в список (останніми)
universities.extend(['KNEU', 'UKMA']) 
print(universities)

#додавання елементу в список в певне місце за індексом (наприклад, першим - з індексом 0)
universities.insert(0, 'KNUTE') 
print(universities)

#видалення елементу за першим входженням
universities.remove('UKMA') 
print(universities)

#видалення елементу за індексом
universities.pop(0) 
print(universities)

#кількість входжень елемнту в список
print(universities.count('KNEU'))

#повертає індекс першого входження
print(universities.index('KNEU')) # returns index of first instance

['KPI', 'KNU', 'NAU', 'KNUCA']
['KPI', 'KNU', 'NAU', 'KNUCA', 'KNEU', 'UKMA']
['KNUTE', 'KPI', 'KNU', 'NAU', 'KNUCA', 'KNEU', 'UKMA']
['KNUTE', 'KPI', 'KNU', 'NAU', 'KNUCA', 'KNEU']
['KPI', 'KNU', 'NAU', 'KNUCA', 'KNEU']
1
4

### Кортежі (Tuples)

__Кортежі__ - впорядковані незміні списки, в яких можливі повтори елементів.

In [81]:
# tuples
my_tuple = ("KPI", "KNU", "KNEU")
print(my_tuple, type(my_tuple))

('KPI', 'KNU', 'KNEU') <class 'tuple'>

***Увага!***

>Не можна змінювати елементи кортежу

In [83]:
my_tuple[0] = "KNTU"

TypeError: ignored

### Множини (Sets)

__Множина__ - це набір невпорядкованих елементів, в якому не допускається повторювань.

In [84]:
# створюємо множину (set)
my_set = {"KPI", "KNU", "KNEU"}
print(my_set, type(my_set))

#перевіряємо чи входить елемент в список
print('KPI' in my_set)

{'KNEU', 'KNU', 'KPI'} <class 'set'>
True

In [85]:
#додаємо елемент в список
my_set.add("KNTU")
my_set

{'KNEU', 'KNTU', 'KNU', 'KPI'}

###Створюємо множину
<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsUnique.png" width="500" />

> якщо є дублікати елементів при створенні множини, в множину елемент буде входити лише один раз

In [86]:
# створюємо списки
languages = {'python', 'r', 'java'}

> створюємо множину за допомогою команди `set` зі списку

In [87]:
snakes = set(['cobra', 'viper', 'python', 'python'])

In [88]:
snakes

{'cobra', 'python', 'viper'}

### Операції з множинами


*   `len(set)` - кількість елементів в множині (розмірнісь множини).

* `element in set` - True, якщо `element` належить множині `set`.
* `set1.isdisjoint(set2)` - True, якщо `set1` та `set2` не мають спільних елементів
* `set1 == set2` - рівність множин `set1` та `set2`.
* `set1.issubset(set2)` або `set1 <= set2` - всі елементи `set1` належать `set2`.
* `set1.issuperset(set2)` або `set1 >= set2` - аналогічно.
* `set1.union(set2, ...)` або `set1 | set2 | ...` - об'єднання множин.
* `set1.intersection(set2, ...)` або `set1 & set2 & ...` - перетин множин.
* `set1.difference(ser2, ...)` або `set1 - set2 - ...` - множина зі всих елементів `set1`, які не належать жодному з `set_і ...`.
* `set1.symmetric_difference(set2)`; `set1 ^ set2 `- множина з елементів, які зустрічаються в одній множині, проте не містяться в обох одночасно.
* `set.copy()` - копія множини `set`.

### <i> Наприклад </i>

In [89]:
len(languages)

3

In [90]:
languages.isdisjoint(snakes)

False

In [91]:
SET = languages.union(snakes)
print(SET)

{'java', 'r', 'python', 'cobra', 'viper'}

In [92]:
SET = languages.intersection(snakes)
print(SET)

{'python'}

In [93]:
SET1 = languages.difference(snakes)
print(SET1)

SET2 = snakes - languages
print(SET2)

{'java', 'r'}
{'cobra', 'viper'}

In [94]:
SET = languages ^ snakes
print(SET)

{'r', 'cobra', 'viper', 'java'}

### Словники (Dictionaries)

__Словники__ - це невпорядковані набори довільних об'єктів різного типу, доступ до яких відбувається не за індексом, а за унікальним ключем, який також може бути різного типу даних.

> створювати словники можна різними способами, але обов'язкова прив'язка до ключа `key:value`

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsList.png" width="500" />

In [95]:
# створення словника (dictionaries)
my_dict = {
    'name': 'Masha',
    'university': 'KPI',
    'age': 19
}
print(my_dict, type(my_dict))
print(my_dict['name'])

my_dict2=dict(name = 'Max', university = 'KNU', age = '21')
print(my_dict2)

{'name': 'Masha', 'university': 'KPI', 'age': 19} <class 'dict'>
Masha
{'name': 'Max', 'university': 'KNU', 'age': '21'}

###Функції словника
* `dict.clear()` - очищає словник.

* `dict.copy()` - повертає копію словника.

* `classmethod dict.fromkeys(seq[, value])` - створює  словник з ключами з `seq` та значеннями `value` (по замовчуванню `None`).

* `dict.get(key[, default])` - повертає значення ключа, якщо відсутній, то повертає `default` (по замовчуванню `None`).

* `dict.items()` - повертає пари (ключ, значення).

* `dict.keys()` - повертає ключі в словнику.

* `dict.pop(key[, default])` - видаляє ключ і повертає значення. Якщо ключа немає, повертає `default`.

* `dict.popitem()` - видаляє та повертає пару (ключ, значення). Якщо словник пустий, виводить `KeyError`. 

* `dict.update([other])` - оновлює словник, додає пари (ключ, значення) з `other`. Існуючі ключі перезаписуються. Повертає `None` (не новий словник!)

* `dict.values()` - повертає значення словника.

In [96]:
print(my_dict['last_name']) #намагаємось знайти рядок з прізвищем,

KeyError: ignored

In [97]:
my_dict['last_name'] = 'Ivanenko' #додаємо новий рядок в словник
del my_dict['age'] #видаляємо вік зі словника
print(my_dict)

{'name': 'Masha', 'university': 'KPI', 'last_name': 'Ivanenko'}

In [98]:
my_dict.pop('last_name')
my_dict

{'name': 'Masha', 'university': 'KPI'}

In [99]:
my_dict.update({'last_name': 'Ivanenko', 'age': 19})
my_dict

{'name': 'Masha', 'university': 'KPI', 'last_name': 'Ivanenko', 'age': 19}

In [100]:
my_dict.items()

dict_items([('name', 'Masha'), ('university', 'KPI'), ('last_name', 'Ivanenko'), ('age', 19)])

In [101]:
my_dict.keys()

dict_keys(['name', 'university', 'last_name', 'age'])

In [102]:
my_dict.values()

dict_values(['Masha', 'KPI', 'Ivanenko', 19])

##<center>__Самостійні завдання__</center>

> Скопіювати блок самостійних завдань в окремий файл ***LastName_CP1.ipynb***

### Завдання №1

1. Створити цілочисельну змінну `x`. 
2. Змінити тип даних змінної `x` на дійсний.
3. Створити нову числову змінну `y`. 
4. Піднести змінну `x` до степеня `y` і зберегти результат як змінну `z`. (двома способами)
5. Вивести значення змінної `z` та її тип.

In [103]:
x, y = 5, 2
x = float(x)
z_operator, z_function = x ** y, pow(x, y)
print(f"Z value with ** operator {z_operator} type {type(z_operator)}\nZ value with pow() function {z_function} type {type(z_function)}")

Z value with ** operator 25.0 type <class 'float'>
Z value with pow() function 25.0 type <class 'float'>

### Завдання №2

1. Вивести запис: **"{X} в степені {Y} дорівнює {Z}."**, використовуючи рядковий запис де X, Y та Z значення змінних.
2. Перетворіть рядок так, щоб можна було прочитати лише **"X в степені"**, с заду наперед.

> Очікуваний результат:
```python
x = 2
y = 3
"2 в степені 3 дорівнює 8."
"інепетс в 2"
```

In [104]:
x, y = 10, 12
output = f"{x} в степені {y} дорівнює {x ** y}."
print(output)
print(output[len(str(x)) + 9::-1])

10 в степені 12 дорівнює 1000000000000.
інепетс в 01

### Завдання №3

1. Створіть новий список `my_list`, який містить 5 кольорів.
2. Перевірте чи є в вашому списку колір `"бузковий"`. Якщо немає, то додайте його використовуючи команду `append`.
3. Змініть перший елемент списку на `"рожевий"`.
4. Видаліть другий елемент списку та виведіть результат на екран.

In [105]:
my_list = ["червоний", "чорний", "синій", "жовтий", "малиновий"]
if not "бузковий" in my_list:
    my_list.append("бузковий")
my_list[0] = "рожевий"
del(my_list[1])
my_list

['рожевий', 'синій', 'жовтий', 'малиновий', 'бузковий']

### Завдання №4

1. Створіть словник з країнами та їх столицями (країна - ключ, столиця - значення): Німеччина, Франція, Україна, США, Румунія, Італія. Виведіть результа.
2. Додайте столицю Бельгії.
3. Виведіть лише столиці.

In [106]:
my_dict = {"Німеччина": "Берлін", "Франція": "Париж", "Україна": "Київ", "США": "Вашингтон", "Румунія": "Бухарест", "Італія": "Рим" }
print(my_dict)
my_dict["Бельгія"] = "Брюссель"
print(my_dict.values())

{'Німеччина': 'Берлін', 'Франція': 'Париж', 'Україна': 'Київ', 'США': 'Вашингтон', 'Румунія': 'Бухарест', 'Італія': 'Рим'}
dict_values(['Берлін', 'Париж', 'Київ', 'Вашингтон', 'Бухарест', 'Рим', 'Брюссель'])

### Завдання №5

Виведіть значення списку_1, що не містяться в списку_2.

> Очікуваний результат:
```python
[1,4,6,7]
```

In [107]:
list_1 = [1,2,3,4,5,6,7]
list_2 = [2,5,3]

output = [res for res in list_1 if not res in list_2]
print(output)

[1, 4, 6, 7]

### Завдання №6

порахуйте всі входження слова "Наука" в рядок, без урахування регістру

> Очікуваний результат:
```python
3
```

In [108]:
import re

In [109]:
string = "Наука про дані – це наука про методи аналізу даних і вилучення\
 з них цінної інформації та знань. Вона тісно пов’язана з такими галузями, \
 як машинне навчання, наука про мислення, а також з технологіями для роботи \
 з великими даними."

# МІСЦЕ ДЛЯ КОДУ
string.lower().count("наука")

3

### Завдання №7

Видаліть повтори зі списку та створіть кортеж. Знайдіть мінімальне та максимальне значення.

In [110]:
my_list = [1, 4, 5, 10, 1, 3, 30, 100, 5]

# МІСЦЕ ДЛЯ КОДУ
my_tuple = tuple(set(my_list))
print(f"{my_tuple} - resulting tuple\nMin value {min(my_tuple)}\nMax value {max(my_tuple)}")

(1, 3, 4, 5, 100, 10, 30) - resulting tuple
Min value 1
Max value 100

### Завдання №8

Дано дві множини  
1. перевірити чи є перша множина підмножиною другої
2. знайти об'єднання, перетин, різницю та симетричну різницю цих множин

In [111]:
set_1 = {57, 83, 29}
set_2 = {67, 73, 43, 48, 83, 57, 29}

# МІСЦЕ ДЛЯ КОДУ
print(f"Is set_1 subset of set_2 {set_1.issubset(set_2)}\nUnion is {set_1.union(set_2)}\nIntersection is {set_1.intersection(set_2)}\nSymmentric difference is {set_1.symmetric_difference(set_2)}")

Is set_1 subset of set_2 True
Union is {67, 73, 43, 48, 83, 57, 29}
Intersection is {57, 83, 29}
Symmentric difference is {48, 67, 73, 43}

### Завдання №9

Дано рядок `string`, порахувати кількість входжень літер "а", "д" та "н" та створити словник з цих літер та кількістю їх входжень. Вивести пари ключ-значення на екран

> Очікуваний результат:
```python
dict_items([('а', 24), ('д', 5), ('н', 25)])
```

In [112]:
string = "Наука про дані – це наука про методи аналізу даних і вилучення\
 з них цінної інформації та знань. Вона тісно пов’язана з такими галузями, \
 як машинне навчання, наука про мислення, а також з технологіями для роботи \
 з великими даними."

# МІСЦЕ ДЛЯ КОДУ
# Результат отриманий лише для маленьких літер
res_dict = {'а': string.count('а'), 'д': string.count('д'), 'н': string.count('н')}
res_dict

{'а': 24, 'д': 5, 'н': 25}

### Завдання №10

Знайти суму всих елеменів словника

> використайте функцію `map()`, яка використовується для застосування функції до кожного елементу итеруючого об'єкту (наприклад, списку чи словника) та повернення нового ітератора для отримання результів.

> Функция `map()` имеет следующий синтаксис:
```
map(function, iterable, [iterable 2, iterable 3, ...])

> Очікуваний результат
```python
390
```

In [113]:
my_dict = {'a': [10, 20, 30, 40],
           'b': [22, 11, 33, 44],
           'c': [12, 34, 56, 78]}

# МІСЦЕ ДЛЯ КОДУ
print(sum(list(map(lambda input: sum(input), my_dict.values()))))

390

### Завдання №11

Знайдіть друге найменше та друге найбільше значення в списку та виведіть на екран такий запис:

```python
"Друге найменше значення - 1 та друге найбільше значення - 398."
```

In [114]:
my_list = [1,200, 34, 65, 499, 11, -4, 42, 398, 12, 3, 100]

# МІСЦЕ ДЛЯ КОДУ
new_list = list(set(my_list))
new_list.sort()
print(f"Друге найменше значення - {new_list[1]} та друге найбільше значення - {new_list[-2]}.")

Друге найменше значення - 1 та друге найбільше значення - 398.

### Завдання №12

Об'єднайте наступні словники в один.

> Очікуваний результат:
```python
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [115]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}

# МІСЦЕ ДЛЯ КОДУ
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### Завдання №13
Створіть словник з наступних списків. Використайте функцію`zip()`

>Функція `zip(a, b)` створює об'єкт-ітератор, з якого при кожному обороті циклу створюється кортеж - впорядкована пара $(a_i, b_i)$ 

>Очікуваний результат:
```python
{'червоний': '#FF0000', 'зелений': '#008000', 'синій': '#0000FF'} 
```

In [116]:
keys = ['червоний', 'зелений', 'синій']
values = ['#FF0000','#008000', '#0000FF']

# МІСЦЕ ДЛЯ КОДУ
dict(zip(keys, values))

{'червоний': '#FF0000', 'зелений': '#008000', 'синій': '#0000FF'}